@model Weitm.Modules.ChainTouch.Models.Property
@{
    var property = Model;
}

<article class="property-item clearfix">
    <h4><a href="~/Property/Detail/@property.Id/" title="@property.Name"></a></h4>
    <figure>
        <a href="~/Property/Detail/@property.Id/" title="@property.Name">
            <img src="~/Images/property.jpg" alt="@property.Name" title="@property.Name">
        </a>
        <figcaption>HOT</figcaption>
    </figure>
    <div class="detail">
        <h5 class="price">@property.Name<small>@property.Type.ToUpper()</small></h5>
        <p>@property.Name</p>
        <a class="more-details" href="~/Property/Detail/@property.Id/">More Details <i class="icon-caret-right"></i></a>
    </div>
    <div class="property-meta">
        <span><i class="icon-area"></i>@(((Decimal)property.ManagementFee).ToString("0.00")) &nbsp;</span>
        <span><i class="icon-area"></i>&nbsp;@property.Province</span>
        <span><i class="icon-area"></i>&nbsp;@(((Decimal)property.TotalLandSize).ToString("000,000"))</span>
        <span><i class="icon-area"></i>&nbsp;@(((Decimal)property.LeasableArea).ToString("000,000"))</span>
    </div>
</article>
