@model Weitm.Modules.ChainTouch.Models.Property
@{
    var property = Model;      
}

<figure>
    <a href="~/Property/Detail/@property.Id" title="@property.Name">
        <img src="~/Images/property.jpg" alt="@property.Name" title="@property.Name">
    </a>
</figure>
<h4><a href="~/Property/Detail/@property.Id" title="@property.Name">@property.Name</a></h4>
<p>@property.Name  </p>
<p><a href="~/Property/Detail/@property.Id"> Know More </a></p>
<span class="price">Mgmt Cost: @property.ManagementFee</span>
